
<div class="row bg-primary" >
  <div class="col-md-12 p-3 bg-dark" style="height:10vh;">
    <h1 class="text-white text-center">ภาพใดอยู่ ในชุดภาพที่แสดงก่อนหน้า</h1>
  </div>
</div>

<div class="row" style="height:50vh; ">
      
  <div class="bg-primary col-md-3 p-3"> <br> <br>
    <img id="answer-1" class="d-block img-fluid img-thumbnail mx-auto h-75 w-75" src="<%= answers_images[0] %>"> </div>
  <div class="bg-primary col-md-3 p-3"> <br> <br>
    <img id="answer-2" class="d-block img-fluid img-thumbnail mx-auto h-75 w-75" src="<%= answers_images[1] %>"> </div>
  <div class="bg-primary col-md-3 p-3"> <br> <br>
    <img id="answer-3" class="d-block img-fluid img-thumbnail mx-auto h-75 w-75" src="<%= answers_images[2] %>"> </div>
  <div class="bg-primary col-md-3 p-3"> <br> <br>
    <img id="answer-4" class="d-block img-fluid img-thumbnail mx-auto h-75 w-75" src="<%= answers_images[3] %>"> </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  var time = 0;
  timeIncrease = () => {
    time++;
  }
  setInterval(timeIncrease, 1000);
  $('#answer-1').click(() => {
    sendAnswer(1);
  });
  $('#answer-2').click(() => {
    sendAnswer(2);
  });
  $('#answer-3').click(() => {
    sendAnswer(3);
  });
  $('#answer-4').click(() => {
    sendAnswer(4);
  });
  $('#answer-5').click(() => {
    sendAnswer(5);
  });

  var baseUrl = window.location.href;
  console.log('baseUrl: ', baseUrl);
  var backUrl = "/";
  var splitUrl = baseUrl.split('/');
  for(var i = 3 ; i < 5 ; i++) {
    backUrl += baseUrl.split('/')[i];
    if(i != 4)
      backUrl += "/";
  }

  function sendAnswer(choice) {

    swal("รอสักครู่ระบบกำลังตรวจสอบคำตอบ", {
      button: false,
    });

    $.ajax({
      url: baseUrl,
      type: 'POST',
      data: {
        answer: choice,
        time: time
      },
      success: (payload) => {
        swal('เรียบร้อย กด OK เพื่อไปทำการทดสอบอื่น').then(() => {
          window.location.href = backUrl;
        });
      }
    });

  }
</script>