<div class="bg-dark text-white p-1 w-100">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p class="lead my-3">จัดทำโดย</p>
          <p class="lead p-0">5809610248 นิติพัฒน์ วุฒิศศิวัฒน์ &nbsp;5809610248 นิติพัฒน์ วุฒิศศิวัฒน์</p>
          <p class="lead p-0">5809610248 นิติพัฒน์ วุฒิศศิวัฒน์ &nbsp;5809610248 นิติพัฒน์ วุฒิศศิวัฒน์</p>
          <p class="lead p-0">5809610248 นิติพัฒน์ วุฒิศศิวัฒน์ &nbsp;5809610248 นิติพัฒน์ วุฒิศศิวัฒน์</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2017 CSTU#30</p>
        </div>
      </div>
    </div>
  </div>