<div class="bg-dark text-white p-1 w-100">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="lead my-3">จัดทำโดย</p>
          <p class="lead p-0">5809610248 นิติพัฒน์ วุฒิศศิวัฒน์  5809610503 ธนกร แก้วสว่าง &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    5809610156 เกวลิน ชาญชนะโรจน์</p>
          <p class="lead p-0">5809610602 ชญาภรณ์ แก้วอินทร์ &nbsp;5809610537 ภิญญลักษณ์ ปกรณ์พสุพงศ์ 5809680183 วรรัฐ ตั้งศรีเกียรติกุล</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2017 CSTU#30</p>
        </div>
      </div>
    </div>
  </div>