<nav class="navbar navbar-expand-md bg-secondary navbar-dark" style="height:100%;">
    <div class="container">
      <a class="navbar-brand" href="#">HIP Project</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">การทดสอบ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">ผู้จัดทำ
              <br>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">ไม่มีข้อมูลผู้ทดสอบ</a>
          </li>
        </ul>
        <form class="form-inline m-0 bg-secondary"></form>
      </div>
    </div>
  </nav>