<nav class="navbar navbar-expand-md bg-secondary navbar-dark" style="height:100%;">
    <div class="container">
      <a class="navbar-brand" href="#">HIP Project</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <% if(payload.page === 'ล็อคอิน') { %>
              <a class="nav-link text-white">หน้าแรก</a>
            <% } else { %>
              <a class="nav-link" href="/">หน้าแรก</a>         
            <% } %>   
          </li>
          <li class="nav-item">
            <% if(payload.page === 'การทดสอบ') { %>
              <a class="nav-link text-white">การทดสอบ</a>
            <% } else { %>
              <a class="nav-link" href="/trial">การทดสอบ</a>         
            <% } %>   
          </li>
          
            <% if(payload.info.login) { %> 
              <li class="nav-item">
                <a class="nav-link text-white"><%=payload.info.faculty%> อายุ <%=payload.info.age%> เพศ <%=payload.info.gender%></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/logout">ลงชื่อออก</a>                     
              </li>
            <% } else { %> 
              <li class="nav-item">
                  <a class="nav-link">ไม่มีข้อมูลผู้ทดสอบ</a>                  
              </li>
            <% } %>
          </li>
        </ul>
        <form class="form-inline m-0 bg-secondary"></form>
      </div>
    </div>
  </nav>