<div class="col-md-12 p-3 bg-primary" style="height:10vh;"></div>                  
<div class="row" style="height:50vh;">    
    <div class="bg-primaty col-md-3 p-3" style="margin-left: auto; margin-right: auto;"> <br> <br>
        <img id="img" class="d-block img-fluid img-thumbnail mx-auto h-75 w-75" src="<%=imgsrc%>" style="height:50%; width:50%;"> </div>
    </div>
</div>