<!DOCTYPE html>
<html>

<head>
  <% include head.ejs %>
</head>

<body>
  <% include header.ejs %>            
                    
  <div class="py-5 bg-primary text-light w-100 h-75">
      <div class="col-md-12 p-3 bg-primary" style="height:10vh;">
          <h1 class="text-white text-center">HIP Project</h1>      
      </div>
    <div class="container">
      <div class="row" style="height:50vh;">
        <div class="align-self-center col-md-6 text-white">
          <h1 class="text-center text-md-left display-3">Image Inteference</h1>
          <p class="">
            <br>การทดลองเกี่ยวกับการจดจำโดยจะมีวิธีการทดลองคือ
            <br>1) จะมีภาพจำนวน 10 ภาพแสดงขึ้นมาให้จำในตอนแรก
            <br>2) จะมีภาพมาจำนวน 4 ภาพ และให้เลือกว่าภาพใดอยู่ใน 10 ภาพแรกที่แสดงขึ้นมา</p>
        </div>
        
        <div class="col-md-6" id="book">
          <div class="card">
            <div class="card-body p-5">
              <h3 class="pb-3">กรุณากรอกข้อมูลพื้นฐาน</h3>

              <!-- <form action="https://formspree.io/YOUREMAILHERE"> -->
                <div class="form-group"> <label>คณะ</label>
                  <input id="input-faculty" class="form-control" placeholder="คณะวิทยาศาสตร์"> </div>
                <div class="form-group"> <label>อายุ</label>
                  <input id="input-age" type="number" class="form-control" placeholder="20"> </div>
                <div class="form-group"> <label>เพศ</label> 
                    <select name="gender" class="form-control">
                      <option value="ชาย">ชาย</option>
                      <option value="หญิง">หญิง</option>
                    </select> </div>
              <!-- </form> -->

              <button type="submit" class="btn mt-2 btn-outline-dark" id="start-btn">เริ่มการทดสอบ</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <% include footer.ejs %>
  <% include script.ejs %>
  <script>
    $(() => {

      $('#start-btn').click(()=>{
         $.ajax({
          url: '/login',
          type: 'POST',
          data: {
            faculty: $('#input-faculty').val(),
            age: $('#input-age').val(),
            gender: $('select[name="gender"]').val()
          },
          success: (payload) => {
            if(payload.success)
              swal("เรียบร้อย","เริ่มการทดสอบได้ การทดสอบจะแบ่งเป็น 5 ส่วน","success").then(() => {
                window.location.href = '/trial';
              });
            else
              swal("ผิดพลาด",payload.msg,"warning");
          }
        });
      })

    });
  </script>
</body>

</html>